@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" />

</head>
<body>
    <form class="form-inline well">
        <div class="control-group">
            <label class="control-label span1">Make</label>
            <select id="make" class="span3">
            </select>
        </div>
        <div class="control-group">
            <label class="control-label span1">Model</label>
            <select id="model" class="span3">
            </select>
        </div>
        <div class="control-group">
            <label class="control-label span1">Car</label>
            <select id="car" class="span3">
            </select>
        </div>
    </form>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Demo.js"></script>
</body>
</html>
